body{
    background-color: white;
    font-family: system-ui;
}

/* BARRE DE CHARGEMENT */


.bar {
    /* font-size: 10px */
    margin-left: 35%;
    width: 30em;
    height: 1em;
    border-radius: 0.5em;
    background: #f2f2f2;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}

.bar .percentage {
    position: relative;
    font-size: 1em;
    background: black;
    height: 1em;
    border-radius: 0.5em;
}

.has-tip:before,
  .has-tip:after {
    content: "";
    position: absolute;
    opacity: 0;
}

.has-tip:before {
    bottom: -10px;
    right: -5px;
    border: 5px solid;
    border-color: transparent transparent black transparent;
    transition: opacity 0.1s;
}

.has-tip:after {
    content: attr(data-perc);
    bottom: 0;
    right: 0;
    white-space: nowrap;
    padding: 0.6em 1em;
    border-radius: 2em;
    line-height: 1;
    color: #fff;
    background: black;
    transform: translateX(50%) translateY(100%);
    transition: transform 0.2s, opacity 0.1s;
}

.has-tip:hover:before,
  .has-tip.active:before {
    opacity: 1;
  }

  .has-tip:hover:after,
  .has-tip.active:after {
    opacity: 1;
    transform: translateX(50%) translateY(100%) translateY(10px);
  }



/* TITRE */


div.title{
    font-size : 15;
    text-align: center;
    color: black;
    padding-left: 1.5%;
    padding-top : 0.25cm;
    padding-bottom : 0.25cm;
    margin-top: 1%;
    margin-bottom: 2%;
}


h2{
    background-color: white;
    color: black;
    padding-left: 1.5%;
    padding-top : 0.25cm;
    padding-bottom : 0.25cm;
    
}

/* DESIGN PLUGINS */

div.wiki{
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
}

div.statParMembres{
    background-color: grey;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
}

div.statMembres{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-right : 2%;
}


div.globalStat{
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
}

div.branches{
    text-align: center;
}

div.nbDeBranches{
    font-size: 60;
}

div.tickets{
    text-align: center;
}

div.nbDeTickets{
    font-size: 60;
}

div.stats{
    display: flex;
}

/* STATS EDIT PAR MEMBRES */

div.statEdit h2{
    background-color: white;
    color: black;
    padding-left: 1.5%;
    padding-top : 0.25cm;
    padding-bottom : 0.25cm;
    margin-left: 20%;
}

div.statEdit ul li{
    background-color: #F1F1F1;
    list-style-type: none;
    border-width:1px;
    border-radius : 5px;
    border-color:black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.25cm;
    padding-bottom: 0.25cm;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;
}

div.statEdit ul li img{
    width: 2cm;
    height: 2cm;
}

div.infoMembres{
    display: flex;
    justify-content: space-between;
}

div.name{
    margin-left: 0.5cm;
    margin-top: 0.7cm;
}

div.commit{
    margin-top: 5%;
    display: flex;
}

div.allCommits{
    margin-top: 0.25cm;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

div.plus{
    color: #28A500;
    font-style: bold;
}

div.moins{
    color: #DE7171;
}

div.egal{
    color: #A6A6A6;
}





ul li{
    background-color: #F1F1F1;
    list-style-type: none;
    border-width:1px;
    border-radius : 5px;
    border-color:black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.25cm;
    padding-bottom: 0.25cm;
    text-align: center;
    display : flex;
    
}
div.histoCommits{
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
}

table{
    width : 100%;
    table-layout:fixed;
}

table tr td{
    text-align: center;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

    /* ////////////////////////////////////////// HISTORIQUE DE COMMIT /////////////////////////////////////////*/
    

table tr td{
    text-align: center;
    padding-top: 0.25cm;
    padding-bottom: 0.25cm;
}


div.head {
    background-color: #FFD9B2;
}

tr:nth-child(even) {background: #DFDFDF}
tr:nth-child(odd) {background: #f1f1f1}

